body {
  background-color: rgb(20, 20, 20);
}
#container {
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  padding-top: 20px;
  margin-right: auto;
  margin-top: 50px;
  padding-right: 25px;
padding-left: 25px;
}

img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
h2 {
  color: rgb(196, 247, 42);
}

p {
  font-weight: 500;
}

a {
  background-color: rgb(51, 51, 51);
  color: rgb(183, 197, 216);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;

  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5%;
}

h1{
font-size: 1.5rem;  
}